@model Employee // This indicates the type of the model being passed to the view

@section Styles {
    <link rel="stylesheet" href="~/css/userProfile.css">
}
@{
    string baseImagePath = "/images/employeeImages/";

    string defaultProfileImage = "/images/locationDummyImage.jpg";


    string employeeProfileImage = Model.EmployeeImage != null
        ? baseImagePath + Model.EmployeeImage
        : defaultProfileImage;
}

<div class="container-fluid rounded bg-white">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
               
                <img class="rounded-circle mt-5"
                     width="200"
                     height="200"
                     src="@employeeProfileImage"
                     alt="Employee Image"
                     onerror="this.onerror=null;this.src='@defaultProfileImage';">
                <span class="font-weight-bold">@Model.FirstName @Model.LastName</span>
                <span class="text-black-50">@Model.Email</span>
            </div>
        </div>

        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4>Account Information</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mb-3">
                        <label class="labels">Employee Name</label>
                        <input type="text" class="form-control custom-input" value="@Model.FirstName @Model.LastName" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Department Name</label>
                        <input type="text" class="form-control custom-input" value="@Model.DepartmentName" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Designation</label>
                        <input type="text" class="form-control custom-input" value="@Model.Designation" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control custom-input" value="@Model.Email" disabled>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="labels">Phone Number</label>
                        <input type="text" class="form-control custom-input" value="@Model.PhoneNumber" disabled>
                    </div>
                    <div class="col-md-6 mb-3 ">
                        <label class="labels">Country</label>
                        <input type="text" class="form-control custom-input" value="@Model.CountryName" disabled>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 mb-3" >
                                <label class="labels form-label">State</label>
                                <input type="text" class="form-control custom-input" value="@Model.StateName" disabled>
                            </div>
                            <div class="col-md-6 mb-3" >
                                <label class="labels form-label">City</label>
                                <input type="text" class="form-control custom-input" value="@Model.CityName" disabled>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    
}
